In [19]:
import pandas as pd 
import numpy as np    
import seaborn as sns 
import matplotlib.pyplot as plt

In [20]:
countries = pd.read_csv(r'D:\Ishan\GeoQuest-Project-\Data\new_countries_data.csv', encoding='ISO-8859-1')

In [21]:
countries.head()

         Country             Landmarks Currency  Continent            Capital
0  South Georgia  Shackleton's Grave        SHP  Antarctic  King Edward Point
1        Grenada    Grand Anse Beach        XCD   Americas       St. George's
2    Switzerland          Matterhorn        CHF     Europe               Bern
3   Sierra Leone         Tokeh Beach        SLL     Africa           Freetown
4        Hungary         Buda Castle        HUF     Europe           Budapest

In [22]:
countries.describe()

              Country         Landmarks Currency Continent   Capital
count             250               250      247       250       246
unique            250               248      164         6       245
top     South Georgia  Victoria Falls        EUR    Africa  Kingston
freq                1                 2       36        59         2

In [23]:
countries.isnull().sum()

Country      0
Landmarks    0
Currency     3
Continent    0
Capital      4
dtype: int64

In [26]:
countries[countries['Currency'].isnull()]

,Country,Landmarks,Currency,Continent,Capital
65,Antarctica,McMurdo Station,NaN,Antarctic,NaN
81,Bouvet Island,Bouvet Island Glacier,NaN,Antarctic,NaN
159,Heard Island and McDonald Islands,Mawson Peak,NaN,Antarctic,NaN

In [27]:
countries[countries['Capital'].isnull()]

,Country,Landmarks,Currency,Continent,Capital
65,Antarctica,McMurdo Station,NaN,Antarctic,NaN
81,Bouvet Island,Bouvet Island Glacier,NaN,Antarctic,NaN
116,Macau,Ruins of St. Pauls,MOP,Asia,NaN
159,Heard Island and McDonald Islands,Mawson Peak,NaN,Antarctic,NaN

In [29]:
countries.dropna(inplace=True)

In [30]:
countries.describe()

              Country         Landmarks Currency Continent   Capital
count             246               246      246       246       246
unique            246               244      163         6       245
top     South Georgia  Victoria Falls        EUR    Africa  Kingston
freq                1                 2       36        59         2

In [ ]:
countries['Landmarks']

In [43]:
duplicate_landmarks = countries[countries.duplicated(subset=['Landmarks'], keep=False)]
print(duplicate_landmarks)

                              Country               Landmarks Currency  \
47                             Zambia        Victoria Falls        ZMW
141                        Guadeloupe  La Soufrière Volcano        EUR
203  Saint Vincent and the Grenadines  La Soufrière Volcano        XCD
238                          Zimbabwe        Victoria Falls        ZWL

    Continent      Capital
47     Africa       Lusaka
141  Americas  Basse-Terre
203  Americas    Kingstown
238    Africa       Harare

In [47]:
countries['Currency'].value_counts()

Currency
EUR    36
USD    17
XCD     8
XOF     8
XAF     6
       ..
ZWL     1
MNT     1
ILS     1
NIO     1
TWD     1
Name: count, Length: 163, dtype: int64